<div class="grid">
  <div class="col-12">
    @for(locationToast of LOCATION_TOASTS; track locationToast) {
      <p-toast [key]="locationToast"></p-toast>
    }
    <div class="card">
      <p-dialog
      header="Edit Locations"
      [(visible)]="isEditLocation"
      [modal]="true" 
      showEffect="fade" 
      [style]="{width: '30vw', height: 'auto'}"
      [breakpoints]="{'96px': '60vw'}">
        <ng-template pTemplate="content">
          <div [formGroup]="locationFormGroup" class="formgrid grid">
            <div class="flex flex-column flex-wrap gap-2">
              <div class="col-12 md:col-6">
                <div class="flex flex-column gap-2 mb-4">
                  <label class="font-bold">Name</label>
                  <input formControlName="name" class="w-20rem" pInputText type="text" placeholder="Enter an name" />
                </div>
                <div class="flex flex-column gap-2 mb-4">
                  <label class="font-bold">Address</label>
                  <input formControlName="address" class="w-20rem" pInputText type="text" placeholder="Enter an address" />
                </div>
                <div class="flex flex-column gap-2 mb-4">
                  <button
                    pButton
                    pRipple
                    type="button"
                    label="Update"
                    (click)="submitUpdateLocation()"
                    class="p-button-raised"
                  ></button>
                </div>  
              </div>
            </div>
          </div>
        </ng-template>
      </p-dialog>
      <p-confirmDialog 
      key="confirmDeleteLocations" 
      icon="pi pi-exclamation-triangle"
      [style]="{width: '350px'}" 
      acceptButtonStyleClass="p-button-text" 
      rejectButtonStyleClass="p-button-text">
      </p-confirmDialog>
      <h5 style="font-weight: 600">Locations</h5>
      <p-table
      #locationsDataTable
      loadingIcon="pi pi-spin pi-spinner"
      [(selection)]="selectedLocations"
      selectionMode="multiple"
      [rows]="100"
      [value]="locationsData().locations"
      [rowHover]="true"
      [paginator]="true"
      [loading]="loading()"
      dataKey="id"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
      >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <div>
            <button
              pButton
              pRipple
              label="New"
              class="mb-2 p-button-primary p-button-raised"
              icon="pi pi-fw pi-plus"
              (click)="opLocation.toggle($event)"
            ></button>
            <p-overlayPanel #opLocation [showCloseIcon]="true">
              <ng-template pTemplate="content">
                <form [formGroup]="locationFormGroup" class="formgrid grid">
                  <div class="flex flex-column flex-wrap gap-2">
                    <h4 class="m-2">New Location</h4>
                    <div class="col-12 md: col-6">
                      <div class="flex flex-column gap-2 mb-2">
                        <label class="font-bold">Name</label>
                        <input
                          class="w-20rem"
                          pInputText
                          type="text"
                          placeholder="Enter location name"
                          formControlName="name"
                        />
                      </div>
                      <div class="flex flex-column gap-2 mb-2">
                        <label class="font-bold">Address</label>
                        <input
                          class="w-20rem"
                          pInputText
                          type="text"
                          placeholder="Enter location address"
                          formControlName="address"
                        />
                      </div>
                      <div class="flex flex-column gap-2 m-4">
                        <button
                          pButton
                          pRipple
                          type="button"
                          label="Submit"
                          (click)="createLocation()"
                          class="p-button-raised"
                        ></button>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-template>
            </p-overlayPanel>
            <button
              pButton
              pRipple
              label="Delete"
              color="danger"
              class="m-2 p-button-danger p-button-raised"
              icon="pi pi-fw pi-trash"
              (click)="confirmDeleteLocations()"
              [disabled]="selectedLocations.length ? false : true"
            ></button>
            <button
              pButton
              label="Clear"
              class="p-button-outlined mb-2"
              icon="pi pi-filter-slash"
              (click)="clearFilters(locationsDataTable)"
            ></button>
          </div>

          <div class="flex flex-column align-items-end">
            <span>Total Locations: {{defaultFilterRows}}</span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 1rem">
            <div class="flex justify-content-between align-items-center">
              <p-tableHeaderCheckbox />
            </div>
          </th>
          <th style="width: 1rem">
            <div
              class="flex justify-content-between align-items-center"
            ></div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex justify-content-between align-items-center">
              Name
              <p-columnFilter
                type="text"
                field="name"
                display="menu"
                placeholder="Search by name"
              >
              </p-columnFilter>
            </div>
          </th>
          <th style="min-width: 6rem">
            <div class="flex justify-content-between align-items-center">
              Address
              <p-columnFilter
                type="text"
                field="address"
                display="menu"
                placeholder="Search by address"
              >
              </p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-location>
        <tr>
          <td>
            <p-tableCheckbox [value]="location"></p-tableCheckbox>
          </td>
          <td>
            <div
              class="flex justify-content-between align-items-center"
            >
            <p-tag 
            tooltipPosition="bottom" 
            [pTooltip]="tooltipLocationEdit" 
            class="m-1 cursor-pointer" 
            icon="pi pi-pencil"
            (click)="showEditLocationModal(location)"
            severity="info">
            <ng-template #tooltipLocationEdit>
              <div class="flex align-items-center">
                <span>Edit</span>
              </div>                  
            </ng-template>              
            </p-tag>
            </div>
          </td>
          <td>{{ location.name }}</td>
          <td>{{ location.address }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="12">No event found.</td>
        </tr>
      </ng-template>        
      </p-table>
    </div>  
  </div>
</div>
