<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Events</span>
          <div class="text-900 font-medium text-xl">152</div>
        </div>
      </div>
      <span class="text-blue-500 font-medium">100 participants </span>
      <span class="text-500">for latest event Worship Service</span>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Members</span>
          <div class="text-900 font-medium text-xl">5000</div>
        </div>
      </div>
      <span class="text-blue-500 font-medium">3000 members </span>
      <span class="text-500">active and attending events</span>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Locations</span>
          <div class="text-900 font-medium text-xl">20</div>
        </div>
      </div>
      <span class="text-blue-500 font-medium">2 registered </span>
      <span class="text-500">latest outreaches or business areas</span>
    </div>
  </div>
</div>
